.sign-in {
    margin: 20px 0;
    width: 400px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}